body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the eye icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

#eye-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333; /* Adjust color as needed */
    z-index: 1; /* Ensure the icon is above the input */
}

p {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background: #f2f2f2;
    color: #333;
}

.valid {
    background: #d4edda;
    color: #155724;
}

.invalid {
    background: royalblue;
    color: #fff;
}
